*{
    padding: 0;
    margin: 0;
}
header {
height: 100px;
width: 100%;
background-color: darkturquoise;
}
#logobox{
    width: 30%;
    height: 100%;
    background-color: rgb(245, 250, 250);
    float: right;
}
#titel{
    float: left;
    line-height: 100px;
    color: black;
}
#logo{
    width: 100px;
    height: 100%;
    border-radius: 50%;
    padding: 0 15px;
    float: right;
}
#navbar{
    width: 70%;
    text-align: center;
}
#navbar a{
    text-decoration: none;
    color: white;

}
#navbar li{
    display:inline-block;
line-height: 100px;
width: 100px;
font-weight: bold;
}   

#navbar li:hover{
    cursor: pointer;
    background-color:  rgb(5, 114, 116);

}
main{
    width: 100%;
    height: 500px;
    border: 3px solid white;
    background-color: darkturquoise;
    animation-name: changeBackground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}
@keyframes changeBackground{
    0%{
background-color: darkturquoise;
}
    50%{
        background-color: rgb(5, 114, 116);
    } 
    100%{
        background-color: rgb(3, 74, 75);
        
    }
}
aside{
    width: 25%;
    height: 100%;
    background-color:darkturquoise;
    float: left;
}
#asideimg{
    width: 320px;
    height: 300px;
}
pre{
    text-align: center;
}
h2{
    color: white;
    padding: 15px;
    text-align: center;
    border-bottom: solid white 3px;
}
h1{
    color: white;
    padding: 15px;
    text-align: center;
}
article{
    float: right;
    width: 75%;
    height: 100%;
    position: relative;
}
#about{
    background-color:white;
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 220px;
}
#h1{
    color: black;
    border-bottom: 3px solid black;
    padding: 20px 0;
}
#about p{
    font-weight: bold;
    text-align: justify;
    font-size: 20px;
    padding: 10px;
}
#contactbox{
    width: 100%;
    display: flex;
    justify-content: center;
}
#contactbox img{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    padding-left: 3px;
    padding-right: 3px;
}
#contactbox img:hover{
    width: 55px;
    height: 55px;
    cursor: pointer;
}
footer{

    background-color: darkturquoise;
    width: 100%;
    height: 70px;
}
footer p{
    text-align: center;
    line-height: 70px;
}
@media only screen and (max-width :1340px)and (min-width:1009px){
#logobox{
    width:40%;
}
#navbar{
    width: 60%;
}
aside{
    width:40%;
}
article{
    width:60%
}
#asideimg{
    width: 100%;
}
}
@media only screen and (max-width :1008px)and (min-width:899px)
{
    #logobox{
        width:45%;
    }
    #navbar{
        width: 55%;
    }
    aside{
        width:45%;
    }
    article{
        width:55%
    }
    #asideimg{
        width: 100%;
    }
}
@media only screen and (max-width :898px)and (min-width:811px){
    #logobox{
        width:50%;
    }
    #navbar{
        width: 55%;
    }
    aside{
        width:50%;
    }
    article{
        width:50%
    }
    #asideimg{
        width: 100%;
    }
}
@media only screen and (max-width:810px) and (min-width:500px){
    header{
        height: auto;
    }
    #logobox{
        width: 100%;
        text-align: center;
    }
    #titel,#logo{
        float:none;
    }
    #logobox a{
        text-decoration: none;
    }
    #logo{
        width: 200px;
    }
    #navbar{
        width: 100%;
    }
    aside{
        width: 100%;
    }
    aside img{
        width: 100%;
    }
    footer{
        clear: both;
    }
    article{
        width: 100%;
    }
    #asideimg{
        width: 100%;
    }
}
@media only screen and (max-width:499px)
{
    header{
        height: auto;
    }
    #logobox{
        width: 100%;
        text-align: center;
    }
    #titel,#logo{
        float:none;
    }
    #logobox a{
        text-decoration: none;
    }
    #logo{
        width: 200px;
    }
    #navbar{
        width: 100%;
    }
    aside{
        width: 100%;
    }
    aside img{
        width: 100%;
    }
    footer{
        clear: both;
    }
    article{
        width: 100%;
    }
    #asideimg{
        width: 100%;
    }
    #navbar li{
        display: block;
        width: 100%;
    }
}
